@import "tailwindcss";

/* main color = #e62d42 */

body {
  @apply text-gray-900
}

.base_text {
  @apply text-[#e62d42]
}

.base_bg {
  @apply bg-[#e62d42]
}

.base_btn {
  @apply bg-[#e62d42] flex gap-2 text-white py-3 px-6 rounded-md active:scale-95 transition-all
}

.ghost_btn {
  @apply bg-transparent flex gap-2 text-[#e62d42] py-3 px-6 rounded-md border-2 border-[#e62d42] active:scale-95 transition-all hover:bg-[#e62d42] hover:text-white
}

button {
  cursor: pointer;
}

/* this is for scrollbar */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.unscroll::-webkit-scrollbar {
  display: none;
}