@import "tailwindcss";

:root {
  --background: #0f1115;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f1115;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.base_bg {
  background-color: #293f4c;
}

.main_bg {
  background-color: #192125;
}

.body_bg {
  background: #0f1115;
}

.bg-img {
  background-image: url(./assets/bg-one.jpg);
  background-position: center;
  background-size: cover;
}

button {
  cursor: pointer;
}
