@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-img {
  background-image: url(./assets/bg-one.jpg);
  background-position: center;
  background-size: cover;
}

.font {
  font-family: "Montserrat Alternates", sans-serif;
}

.line-h {
  line-height: 3rem;
}

/* total width */
body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}

.linear-bottom{
  background-image: linear-gradient(to bottom, black, transparent);
}

.linear-top{
  background-image: linear-gradient(to top, black, transparent);
}

.s3{
  transition: all .3s ease;
}